@font-face {
    font-family: "TeXGyreAdventor";
    src: url("fonts/texgyreadventor-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TeXGyreAdventor";
    src: url("fonts/texgyreadventor-bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "TeXGyreAdventor";
    src: url("fonts/texgyreadventor-italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "TeXGyreAdventor";
    src: url("fonts/texgyreadventor-bolditalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BlexMono";
    src: url("fonts/BlexMonoNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("fonts/BlexMonoNerdFont-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("fonts/BlexMonoNerdFont-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "BlexMono";
    src: url("fonts/BlexMonoNerdFont-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
