pre.mermaid > svg {
    font-family: "TeXGyreAdventor", "BlexMono", sans-serif !important;
}
pre.mermaid > svg svg {
    font-family: "TeXGyreAdventor", "BlexMono", sans-serif !important;
}
pre.mermaid > svg .label {
    font-family: "TeXGyreAdventor", "BlexMono", sans-serif !important;
}
pre.mermaid > svg .node rect,
pre.mermaid > svg .node circle,
pre.mermaid > svg .node ellipse,
pre.mermaid > svg .node polygon,
pre.mermaid > svg .node path {
    rx: 0.5em;
    ry: 0.5em;
}
pre.mermaid > svg #node-1 {
    fill: darkmagenta;
}
pre.mermaid > svg path.section-edge-0 {
    stroke: darkmagenta !important;
}
pre.mermaid > svg #node-2 {
    fill: darkcyan;
}
pre.mermaid > svg path.section-edge-1 {
    stroke: darkcyan !important;
}
pre.mermaid > svg #node-3 {
    fill: darkgoldenrod;
}
pre.mermaid > svg path.section-edge-2 {
    stroke: darkgoldenrod !important;
}
pre.mermaid > svg span.edgeLabel {
    border-radius: 0.25em;
}
pre.mermaid > svg span.nodeLabel {
    display: block;
    position: relative;
    transform: translateY(-20%);
    font-size: 0.75em;
}
pre.mermaid > svg .tag-hole {
    fill: aliceblue !important;
}
pre.mermaid > svg .tag-label {
    font-size: 9px !important;
}
